@model IEnumerable<EventSourcedTooling.Dashboard.Controllers.Message>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model)
{
    <h2>
        @Html.DisplayFor(x => item.Type)
    </h2>
    <div>
        @Html.DisplayFor(x => item.Body)
    </div>
}